body {
    background-color: rgba(0, 0, 0, 0.7); /* RGBA color with 0.7 alpha (70% opacity) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 43px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 670px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 54px;
    padding: 30px;
    padding-top: 50px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.40);
}


.button {
    padding: 15px 10px;
    display: flex;
    justify-content: center;    
    width: 213px;
    height: 59px;
    border-radius: 25px;
    background-color: #000;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

